</section>

<footer class="bg-theme">
  <div
    class="container links pt-4 pb-2 row mx-auto line-break d-flex justify-content-around "
  >
  <a class="col-lg-3 pb-2 text-center " href="/productManager">productManager Login</a>
    <a class="col-lg-3 pb-2 text-center" href="#">Contact Us</a>
    <a class="col-lg-3 pb-2 text-center" href="#">Customer Care</a>
    <a class="col-lg-3 pb-2 text-center" href="#">About us</a>
  </div>
  <div class="copyright bg-theme py-2 text-center">
    <span>Copyright © 2023 | Shoe Zone | Made by <a href="https://rahulraveendrannp.github.io/Portfolio/">RAHUL N P</a></span>
  </div>
</footer>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="/public/js/admin/admin.js"></script>
<script src="/public/js/admin/dashboard.js"></script>

</body>
</html>