<%- include('../layouts/header') %>
<div style="width: 100%;height: 100%;background-image: url('	https://cdn.pixabay.com/photo/2016/11/19/11/33/footwear-1838767_960_720.jpg');background-repeat: no-repeat;background-size: cover;">
<div class="container">
  <div class="line-break text-center py-4">
    <span class="shadow-heading">Enter New Password</span>
  </div>
  <div class="row mb-5 pt-4">
    <span class="text-center pb-3" style="font-size: 0.8rem; text-transform: none;">
        <p class="text-danger mt-0 pt-4 fw-bold text-uppercase"><%= locals.errorMessage %></p>
    </span>
    
    <div class="col-lg-5 mx-auto">        
      <form action="" method="post">
        <div class="mb-3">
          <input
            required
            class="form-control"
            id="form-holder"
            placeholder="Enter New Password"
            name="newPassword"
            onChange="change()" 
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
            
          />
        </div>
        <div class="mb-3">
          <input
            required
            class="form-control"
            id="form-holder"
            placeholder="Confirm Password"
            name="confirm-newPassword"
            onChange="change()" 
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
          />
        </div>
        <input type="submit" class="btn btn-primary w-100" value="Sign Up" />
      </form>
    </div>
  </div>
</div>
</div>
<script>
  function change() {
  const password = document.querySelector('input[name=newPassword]');
  const confirm = document.querySelector('input[name=confirm-newPassword]');
  if (confirm.value === password.value) {
    confirm.setCustomValidity('');
  } else {

    confirm.setCustomValidity('Passwords do not match');
  }
}
</script>

<%- include('../layouts/footer') %>
